* {
  min-height: 0;
  min-width: 0;
}
body {
  margin: 0;
  font-size: 16px;
  height: 100%;
  background-color: #080C10;

}

a {
  color: #fff;
  text-decoration: none;
  transition: color 0.4s;
  font-family: 'Lato', sans-serif;
}

#slide-header{
  font-size: 70px;
}
#slide-subheader{
  font-size: 30px; 

}
.slide-style {
      width: 100%;
      height: 400px;
      background-size: cover;
    }

.slide-text{
  color: #fff;
  font-family: 'Cormorant Garamond', serif; 
  text-shadow: 1px 1px 1px #000;
  text-align: center;
  padding-top: 50px;
/*  margin-left: 30px;
*/

}
#slide-1 {
      background-image: url("/img/StockSnap_GKEM7CVCV1.jpg");
}
#slide-2 {
      background-image: url("/img/StockSnap_DEQESZ7O9A.jpg");

}
#slide-3 {
      background-image: url("/img/StockSnap_DEQESZ7O9A.jpg");

}
#slide-4 {
      background-image: url("/img/StockSnap_DEQESZ7O9A.jpg");
}

.text-center {
  text-align: center;
}

.top-bar {
  padding: 10px;
  height: 20px;
  margin-bottom: 50px;
  width: 100%;
  background-color: transparent;
}
.top-bar::after {
  content: '';
  display: block;
  clear: both;
}

.top-bar-left {
  float: left;
  font-size: 1.5em;
}

.top-bar-right {
  float: right;
}

.top-bar a,
.nav a {
  margin: 0 8px;
}

.container {
  margin: 0 auto;
  text-align: center;
  width: 700px;
}

.card-heading {
  padding: 16px;
}

.field-line, .button-line {
  padding: 16px;
}

.error-message {
  padding: 0 16px;
  color: tomato;
}

.success-message {
  padding: 0 16px;
  color: green;
}
#card-set {
  
  display: flex;
  justify-content: space-between;
  padding: 50px 120px 50px 120px;
/*  padding-right: 120px;
*/  /*width: 100%;
  padding: 10px 100px 10px 100px;*/
}
.landing-page-cards {
  margin: 0 auto;
  display: inline-block;
  width: 330px;
  padding: 8px;
}
.bottom-nav{
  width: 100%;
  height: 70px;
  background-color: #fff;
  font-size: 12px;
 padding: 30px;
 /*  margin-top: 100px;
*/  font-color: #000;
  margin-bottom: 0;
margin-left: 0;
position: absolute;
    text-align: center;

}

